.form {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family:'Courier New', Courier, monospace;
  color:#1b4469;
}

.title {
  font-size: 20px;
  text-align: center;
  font-family:'Courier New', Courier, monospace;
  align-self: center;
  color:#1b4469;
}